html, body {margin: 0; padding: 0; height: 100%; text-align: center;}
section {min-height: 100%;}
a {text-decoration: none;}
li {list-style-type: none;}

h1, h2, a {font-family: 'Roboto', sans-serif; font-weight: 500; color: #494949; text-transform: uppercase;}
h2 {color: #5d7177;}
h3 {font-size: 40px; padding-top: 8%; margin-bottom: 5px;}
h3, p, ul {font-family: 'Roboto Slab', serif; color: #494949;}

hr {width: 30px; height: 3px; background: #494949; border: 0; margin: 0 auto 40px auto;}
img, li, #logo {transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;}


/*HEADER*******************/

header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#logo {
  width: 140px;
  float: left;
  margin: 10px 0 0 10px;
}

#logo:hover {
  opacity: 0.5;
}

#logo img {
  width: 100%;
}

header nav {
  float: right;
  margin: 10px 10px 0 0;
}

header nav ul li {
  float: left;
  margin-right: 16px;
}

header nav ul li a{
  font-size: 16px;
}

header nav ul li:hover {
  padding-top: 5px;
}

/*HOME*********************/

#home {
  background: url(landing.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#home h1 {
  margin: 220px auto 0 auto;
  font-size: 90px;
}

#home h2 {
  margin: 0 auto 0 auto;
  font-size: 40px;
}

#home img {
  width: 32px;
  margin-top: 150px;
  opacity: 0.7;
}

#home img:hover {
  opacity: 1;
}

/*ABOUT*******************/

#will img {
  width: 240px
}

#will img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#will p {
  width: 700px;
  margin: 20px auto 0 auto;
}

/*SOLL*****************/

#soll img {
  width: 240px
}

#soll img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#soll p {
  width: 700px;
  margin: 20px auto 0 auto;
}

/*FOOTER***************/

footer {
  width: 100%;
  height: 70px;
  background-color: #3f3f3f;
}

footer p {
  font-size: 12px;
  color: #f0f0f0;
  padding-top: 30px;
}
